<div class="album py-5 bg-light">
  <h1 class="text-center mb-5"><%= @rarity.rarity_name %></h1>



    <div class="container">
      <div class="row">

        <%# REPEAT HERE %>
        <% @filtered_rarity.each do |card| %>
          <div class="col-md-4">
            <div class="card mb-5 box-shadow">
              <%= link_to image_tag(card.image_thumbnail, :alt => card.name, class:"card-img-top"), card%>
              <div class="card-body">

                <div class="d-flex justify-content-between align-items-center">
                  <p class="font-weight-bold"><%= card.name %></p>
                  <p class="font-weight-bold">$<%= card.price / 100 %></p>
                </div>

                <div class="container-fluid py-2">
                  <div class="row">
                    <div class="col-sm">
                      <%= link_to 'More info', card, :class => "btn btn-sm btn-outline-secondary w-100" %>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        <% end %>
        <div class="w-100 p-3 d-flex justify-content-center">
          <%= paginate @filtered_rarity %>
        </div>

      </div>
    </div>

</div>