<div class="container vh-100">
  <div class="card mt-5">
    <div class="card-header">
      Invoice Date:
      <strong> <%= @order.created_at.strftime("%Y-%m-%d") %></strong>
      <span class="float-right"> <strong>Order Status:</strong> <%= @order.status.order_status %></span>

    </div>

    <div class="card-body">

    <div class="table-responsive-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Card</th>
            <th>Description</th>

            <th class="right">Card Cost</th>
            <th class="center">Qty</th>
            <th class="right">Total</th>
          </tr>
        </thead>

        <tbody>
          <% @card_order.each do |cards|%>
            <tr>
              <td class="left strong"><%= cards.card.name %></td>
              <td class="left"><%= cards.card.description.gsub(/^(.{50,}?).*$/m,'\1...') %></td>

              <td class="right">$<a><%= cards.card.price/100.0 %></a></td>
              <td class="center"><%= cards.quantity %></td>
              <td class="right">$<a><%= cards.card.price/100.0 * cards.quantity %></a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-5">

    </div>

    <div class="col-lg-4 col-sm-5 ml-auto">
    <table class="table table-clear">
      <tbody>
        <tr>
          <td class="left">
            <strong>Subtotal</strong>
          </td>
        <td class="right">$<%= "%.2f" % @subtotal %></td>
        </tr>

        <% if @user.province.pst != 0.0 %>
          <tr>
          <td class="left">
          <strong>PST</strong>
          </td>
          <td class="right">$<a><%= @order.pst %></td>
          </tr>
        <% end %>

        <% if @user.province.gst != 0.0 %>
          <tr>
          <td class="left">
          <strong>GST</strong>
          </td>
          <td class="right">$<a><%= @order.gst %></a></td>
          </tr>
        <% end %>

        <% if @user.province.hst != 0.0 %>
          <tr>
          <td class="left">
          <strong>HST</strong>
          </td>
          <td class="right">$<a><%= @order.hsts %></td>
          </tr>
        <% end %>
        <tr>
        <td class="left">
        <strong>Total</strong>
        </td>
        <td class="right">
        <strong>$<a><%= @order.order_total %></strong>
        </td>
        </tr>
      </tbody>
    </table>

    </div>

    </div>

    </div>
  </div>
</div>