<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-outline mb-4">
                  <%= f.label :email, class:"form-label", for:"form3Example3cg" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-lg", id:"form3Example3cg"%>
                </div>

                <div class="form-outline mb-4">
                  <%= f.label :password, class:"form-label", for:"form3Example4cg" %>
                  <%= f.password_field :password, autocomplete: "current-password", id:"form3Example4cg", class:"form-control form-control-lg" %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="form-outline mb-4">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>

                <div class="form-outline mb-4">
                  <%= f.submit "Log in", class:"btn btn-dark btn-block btn-lg gradient-custom-4 text-body" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>