<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center mb-4"><%= @card.name %></h3>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6">
                        <div class="white-box text-center">
                          <img src=<%= @card.image %> class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6">
                        <h4 class="box-title mt-5">Card Description</h4>
                        <p><%= @card.description %></p>

                        <%= form_tag cart_index_path, :method => 'post' do %>
                            <div class="d-flex justify-content-between align-items-center mt-5">
                                <div class="btn-group" role="group" aria-label="Second group">
                                    <div onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                        class="btn btn-dark">-</div>
                                    <%= number_field_tag 'quantity', '1', min: 0, class: "form-control text-center" %>
                                    <div onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                        class="btn btn-dark">+</div>
                                </div>

                                <h2>
                                    $<%= @card.price %>
                                </h2>
                            </div>
                            <div class="mt-5">
                                    <%= hidden_field_tag(:card_id, @card.id) %>
                                    <%= button_tag 'Add to cart', :class => "btn btn-dark btn-rounded mr-1"%>
                            </div>
                        <% end %>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title mt-5">Extra Information</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-product">
                                <tbody>
                                    <tr>
                                        <td>Rarity</td>
                                        <td><%= @card.rarity.rarity_name %></td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td>
                                          <%@card.types.each do |type|%>
                                            <%= type.type_name %>
                                          <% end %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>



    </div>
</div>