<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'PokéTraders', root_path, :class => "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, :class => "nav-link text-center" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Cards', cards_path, :class => "nav-link text-center" %>
      </li>
      <li>
        <div class="container">
          <form class="form-inline my-2 my-lg-0 d-flex justify-content-center" action="/search">
            <select class="form-control mr-sm-2" aria-label="Default select example" name="f">
              <option value="All">All Types</option>
              <%@global_types.each do |type|%>
                <option value="<%=type.type_name%>"><%= type.type_name %></option>
              <%end%>
            </select>
            <input class="form-control mr-sm-2" type="text" placeholder="Search for a card" aria-label="Search" name="q">
            <button class="form-control btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-link text-center" href="/cart">
          <% if !(cart.size == 0)%>
            <span class="badge badge-pill bg-danger"><%= cart.size %></span>
          <% end %>
          <span><i class="fas fa-shopping-cart"></i></span>
        </a>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Past orders', orders_path, :class => "nav-link waves-effect text-center" %>
        </li>

        <li class="nav-item">
          <%= link_to 'My account', edit_user_registration_path, :class => "nav-link waves-effect text-center" %>
        </li>

        <li class="nav-item pl-2 mb-2 mb-md-0">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, :class => "btn btn-outline-light btn-md btn-rounded btn-navbar waves-effect waves-light form-control" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path, :class => "nav-link waves-effect text-center" %>
        </li>

        <li class="nav-item pl-2 mb-2 mb-md-0">
          <%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-outline-light btn-md btn-rounded btn-navbar waves-effect waves-light form-control" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>